.spot-container {
    border: 2px magenta solid;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
}

.spot-page {
    border: 2px red solid;
    max-width: 65vw;
    max-height: 65vw;
    min-width: 65vw;
    max-height: 65vw;
}

.spot-page-details {
    border: 2px orange dotted;
}

.review-container {
    border: 2px teal
}

.edit-spot-form-container {
    border: 2px blue solid;
}
