.spot-container {
    margin-top: 30px;
    /* border: 10px magenta solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100%;
    max-height: 100%;
}

.spot-page {
    /* border: 2px red solid; */
    max-width: 65vw;
    max-height: 65vw;
    min-width: 65vw;
    max-height: 65vw;
}

.spot-page-top {
    /* border: 2px black dotted; */
    max-width: 65vw;
    min-width: 65vw;

}

.spot-page-details {
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(207, 200, 200);
}

.spacer {
    max-height: 10%;
    min-height: 40px;
    width: 100%;
}

.spot-page-top > span {
    font-size: 15px;
    margin: 0;
}

.spot-page-top > h1 {
    margin: 0
}

.spot-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.spot-page-images {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 1rem; */
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(207, 200, 200);
}

.spot-edit-button {
    outline: none;
    background: #FF385C;
    border-radius: 7px;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;

}

.edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(207, 200, 200);
}



.edit-spot-form-container {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.edit-spot-form-container > p {
    color:#FF385C;
    margin-top: 20px;
}

.edit-spot-button-container {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    width: 200px;
    justify-content: space-evenly
}

.edit-spot-button-container > button {
    outline: none;
    background: #FF385C;
    border-radius: 7px;
    color: white;
    width: 70px;
    height: 28px;
    margin-top: 10px;
    cursor: pointer;
}

.stars-container {
    display: flex;
    flex-direction: row;
}

.stars-container > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.stars-container > span {
    padding-right: 10px;
}


.on {
    color: #FF385C;
    padding: 0;
    padding-right: 2px;

}

.off {
    color: #ccc;
    padding: 0;
    padding-right: 2px;

}

.create-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12%;
}

.save-Review-Button {
    outline: none;
    background: #FF385C;
    border-radius: 7px;
    color: white;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.save-Review-Button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.reviews-cotainer {
    border: 2px red solid;
}

.review-content {
    margin-top: 30px;
}

.review-content > p {
    margin-left: 0
}

.edit-spot-form-container > ul {
    color:#FF385C
}

.create-review > ul {
    color:#FF385C;
    text-align: center;
}

.monkey {
    position: relative;
}

.review-edit-button {
    color: #FF385C;
    float: right;
}

.edit-button-container > button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.edit-spot-button-container > button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}
