.monkey {

    border: 1px solid red;
    position: absolute;
    height: 4em;
    /* background-color: white; */
    z-index: 0;
    bottom: 0px
}

.calendar-container {
    border: 1px solid teal;
    position: relative;
}

.DayPicker > div {
    border: 4px solid lightblue;
    background-color: white;
    position: absolute;
    top: 0px;
    right: 250px;
    position: relative;
}



.booking-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;

}

.DateInput_fangShape {
    display: none;
}

.DateInput_fangStroke.DateInput_fangStroke_1 {
    display: none;
}

.DateRangePickerInput_arrow_svg {
    display: none;
}
