

.calendar-container {
    position: relative;

}

.DayPicker>div {
    background-color: white;
    top: 0px;
    position: relative;

}

.DateRangePicker {
    width: 78% !important;
    height: 25%;
}

.DateRangePicker > div {
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.DateRangePickerInput {
    position: relative;
    z-index: 10 !important;
    border: none;
    border-radius: 8px;
    border: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
}

.DateRangePickerInput__showClearDates {
    padding-right: 0px !important;
}

#endDateId {
    font-size: 0.7em;
    height: 100%;
    width: 90%;
    margin-top: 0;
    border-radius: 8px;
}

#startDateId {
    height: 100%;
    width: 80%;
    font-size: 0.7em;
    margin-top: 0;
    border-radius: 8px;
}

.DateInput {
    border-radius: 8px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DateRangePickerInput_clearDates {

}

.DateRangePickerInput_clearDates:hover {
    background-color: transparent;
    color: gray
}

.DateRangePickerInput>div:nth-child(1) {}

.DateRangePicker {
    position: relative;

}

.DateRangePicker_picker {
    z-index: initial
}

.DayPicker {
    position: absolute !important;
    top: -6em !important;
    right: -17em !important;
    z-index: -1;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px !important;
}

.DateInput_input__focused {
    border: 1px solid black;
    border-radius: 10px;
}


.calendar-info-top {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 3%;
    position: absolute;
    top: -25%
}

.calendar-info-top>span:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em
}

.calendar-info-top>span:nth-child(2) {
    color: gray;
    font-size: 0.8em;
    margin-top: 1.2%
}

.calendar-info-bottom {
    align-self: flex-end;
    margin-right: 4%;
    margin-bottom: 4%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: -30%;
}

.calendar-info-bottom>button:nth-child(1) {
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: underline;
}

.calendar-info-bottom>button:nth-child(1):hover {
    background-color: rgba(128, 128, 128, 0.052);

}



.calendar-info-bottom>button:nth-child(2) {
    color: white;
    background-color: rgb(56, 56, 56);
    margin-left: 10px;
    width: 30%;
    border-radius: 10px;
    font-weight: bold;
}

.calendar-info-bottom>button:nth-child(2):hover {
    background-color: black;
}



.DateInput_fangShape {
    display: none;
}

.DateInput_fangStroke.DateInput_fangStroke_1 {
    display: none;
}

.DateRangePickerInput_arrow_svg {
    display: none;
}

.DayPickerNavigation_button {
    border: none;
}

.DayPickerNavigation_button:hover {
    border: none;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.094);
}

.CalendarDay__highlighted_calendar {
    color: rgba(128, 128, 128, 0.762);
    background: white;

}

.CalendarDay__highlighted_calendar:hover {
    color: rgba(128, 128, 128, 0.762);
    background: white

}

.CalendarDay__blocked_calendar {
    background: rgba(128, 128, 128, 0.198);
    color: rgba(0, 0, 0, 0.641);
}

.CalendarDay__blocked_calendar:hover {
    background: rgba(128, 128, 128, 0.198);
    color: rgba(0, 0, 0, 0.641);
}

.CalendarDay__selected {
    background: black;
    color: white;
    border: none;
    border-radius: 50%
}

.CalendarDay__selected:hover {
    background: black;
    color: white;

}

.CalendarDay__selected_span {
    background: black;
    color: white;
    border: none;
}

.CalendarDay__selected_span:hover {
    background: black;
    color: white;
    border: none;
}


.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: rgba(0, 0, 0, 0.274);

    color: black
}

td {
    border-style : hidden!important;
}


.booking-form-container > div > span:nth-child(1) {
    font-weight: bold;
    font-size: 1.25em
}

.booking-form-container > div > span:nth-child(1) > span {
    font-weight:100;
    font-size: 0.7em
}

.booking-form-container > div:nth-child(1) {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5%;
    margin-top: 5%;
}

.booking-form-container > div > span:nth-child(2) {
    font-size: 0.9em;
}

.booking-calculations {
    width: 80%;
}

.booking-calculations > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
}

.booking-calculations > div:nth-child(3) {
    padding-bottom: 4%;
    border-bottom: 1px solid gray;
}

.booking-calculations > div:nth-child(4) {
    font-weight: bold;
}
