
.trips-container {
    width: 70vw;
    height: 100%;
    margin: auto;
}

.trips-container > div:nth-child(3) {
    padding-bottom: 10%;
}

.trips-container > div:nth-child(1) {
    font-size: 1.8em;
    margin-bottom: 2%;
}

.trips-container > div:nth-child(2) > div:nth-child(1) {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.trips-container > div:nth-child(3) > div:nth-child(1) {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.upcoming-booking-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin-bottom: 3.5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.upcoming-booking-card-left {
    width: 50%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.364);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.upcoming-booking-card-left > div:nth-child(1) {
    margin-left: 4%;
    margin-top: 3%;
    margin-right: 3%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.341);
    padding-bottom: 3%;
}

.upcoming-booking-card-left > div:nth-child(1) > div:nth-child(1) {
    font-size: 1.1em;
    font-weight: bold;
}

.upcoming-booking-card-left > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-top: 2.3%;
}

.upcoming-booking-card-left > div:nth-child(2) > div:nth-child(1)  {
    border-right: 1px solid rgba(128, 128, 128, 0.341);
    margin-right: 4%;
    padding-right: 4%;
}

.upcoming-booking-card-right {
    width: 50%;
    height: 100%;
}

.upcoming-booking-card-right > img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
