

.review-edit-modal > ul {
    padding: 0;
}

.review-edit-modal > ul > li {
    color: #FF385C
}


.review-edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-review-form {
    justify-content: center;
}

.edit-review-form-container {
    height: 300px;
}

.edit-review-buttons > button {
    outline: none;
    background: #FF385C;
    border-radius: 7px;
    color: white;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}

.edit-review-buttons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.edit-review-buttons > button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.stars-container {
    display: flex;
    flex-direction: row;
}

.stars-container > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.stars-container > span {
    padding-right: 10px;
}


.on {
    color: #FF385C;
    padding: 0;
    padding-right: 2px;

}

.off {
    color: #ccc;
    padding: 0;
    padding-right: 2px;

}

.create-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12%;
}

.save-Review-Button {
    outline: none;
    background: #FF385C;
    border-radius: 7px;
    color: white;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.save-Review-Button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.reviews-cotainer {
    border: 2px red solid;
}

.review-content {
    margin-top: 30px;
}

.review-content > p {
    margin-left: 0
}

.edit-spot-form-container > ul {
    color:#FF385C
}

.create-review > ul {
    color:#FF385C;
    text-align: center;
}

.monkey {
    position: relative;
}

.review-edit-button {
    color: #FF385C;
    float: right;
}
