.spotsContainer {
    display: flex;
    align-content:flex-start;
    justify-content: space-evenly;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 40px;
    height: 100%;
    flex-wrap: wrap
}



.spotCard {
    display: block;
    min-height: 315px;
    min-width: 250px;
    max-height: 350px;
    max-width: 250px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0;
    border-radius: 15px;
    overflow: hidden
}

a {
    height: 100%;
    width: 100%;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    height: 80%;
    height: 80%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
}

.details-container {
    display: block;
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.details-container-top {
    display: flex;
    justify-content: space-between
}

#avgRating {
    margin-right: 10px;
}

p {
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}



/* object-fit: contain for images */
