.spotsContainer {
    display: flex;
    height: 80vh;
    width: 80vw;
    border: 2px blue solid;
    justify-content: center;
    margin-left: 100px;
    flex-direction: row;
    flex-wrap: wrap
}

.spotCard {
    height: 25%;
    width: 25%;
    margin: 10px;
    border: 2px red solid
}

/* object-fit: contain for images */
