.spotsContainer {
    display:flex;
    flex-direction: row;
    height: 80%;
    width: 80%

}

.spotCard {
    display:flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px red solid
}
