.navBar {
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(232, 232, 232);
    z-index: 99;
}
.navBar a {
    text-decoration: none;
}

.navBar > div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

.home > span {
    color: #FF385C;
    font-family: Thick;
    font-size: 2rem;
}

.profile-button {
    border-radius: 2rem;
    border: 1px solid rgb(226, 224, 224);
    padding: 5px 6px 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.profile-button:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.3);
}

.profile-button:focus {
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.3);

}

.fa-user-circle {
    font-size: 200%;
    border-radius: 50%;
    color:rgb(114, 114, 114)
}

.fa-bars {
    font-size: 105%;
    color: rgb(107, 107, 107) !important;
    margin-right: 13px;
}

.profile-dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 180px;
    padding-left: 0;
    z-index: 1000;
}

/* #profile-drop-down-divide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(203, 203, 203);
    width: 100%;
    padding: 5px 0;
}

#profile-drop-down-divide li {
    margin-left: 10px;
    margin-bottom: 5px;
    pointer-events: none;
    cursor: default;

} */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding: 8px 0;
}

nav a {
    padding: 8px 0 8px 10px;
    width: 100%;
    text-align: left;
}

nav a:hover {
    background-color: rgb(244, 244, 244);
}

nav a span {
    color: black;
}

.profile-dropdown a{
    background-color: transparent;
    border: none;
    padding: 5px 0 5px 10px;
    width: 100%;
    text-align: left;
    margin: 8px 0;
}

.profile-dropdown a:hover {
    background-color: rgb(244, 244, 244);
}



/* #FF385C */
