ul {
    list-style-type: none
}

.profile-dropdown {
    position: absolute;
    background-color: gray;
    border: 1px solid #fc0;
    width: 40px;

}

.profile-button {
    margin-left: 10px;
    margin-right: 10px;
}

.navBar-right {
    border: 2px blue solid;
    margin-right: 5vw;
}
/* #FF385C */
.navBar {
    background: white;
    box-shadow: 0 0 1px 0 #666;
    margin: 0px;
    padding: 0;
    max-height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
