ul {
    list-style-type: none
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #666;
    margin-top: 5%;
    border-radius: 10px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 0;
    top: 100%;
}

.profile-dropdown > li {
    margin-left: 10px;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: transparent;
}

.profile-button {
    outline: none;
    background: transparent;
    align-self: flex-end;
    background-color: transparent;
}

/* .fa-user-circle:hover {
    box-shadow: 0 0 10px 1px rgb(194, 190, 190)
} */

.fa-user-circle {
    font-size: 29px;
    color:#FF385C;
    border-radius: 50%

}

.profile-dropdown > a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    margin-top: 10px;
    font-size: 14px;
    width: 220px;
    position: relative;
}

.profile-dropdown > button {
    padding: 0;
    text-align: left;
    padding-left: 10px;
    height: 35px;
}

.profile-dropdown > a {
    height: 30px;
    margin-left: 0;
    padding-top: 10px;
    margin-top: 0;
}

.profile-dropdown > a > span {
    vertical-align: middle;
    margin-left: 10px
}


.login {
    font-weight: bold;
}
.profile-dropdown > button:hover {
    background-color:#f5f5f5
}

.profile-dropdown > a:hover {
    background-color:#f5f5f5
}

#profile-drop-down-divide {
    border-bottom: 1px rgb(197, 190, 190) solid;
    padding-bottom: 10px;
}

#profile-drop-down-divide > li {
    margin-left: 10px;
}

button {
    border: none;
    background: transparent;
}

.navBar-right {
    margin-right: 10%;
    width: 33%;
}

.navBar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    top: 10px;
    left: 5%;
    width: 33%;
    cursor: pointer;
}

.navBar-left > img {
    width: 40px;
    height: 40px;
}

.navBar-left > span {
    color: #FF385C;
    font-family: Thick;
    font-size: 30px;

}

/* #FF385C */
.navBar {
    background: white;
    box-shadow: 0 0 1px 0 #666;
    margin: 0px;
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
